<html>
<head>
  <title>About - Pizza Shop</title>
  <style>
      body {
          font-size: 16px; /* базовый размер шрифта для всего документа */
      }

      p {
          font-size: 20px; /* размер шрифта для элементов <p> */
      }
  </style>
</head>
<body>
  <h1>About page:</h1>

  <p>
    💒 Welcome to our cozy Pizza Shop, where every slice is a true work of art! Our pizzas are crafted with love and a passion for culinary excellence to delight both your eyes and taste buds.
    <br />
    <br />
    ✅ Explore our menu featuring a wide array of magnificent variations of classic and signature pizzas, all prepared using only fresh and high-quality ingredients. From thin and crispy crusts to generous layers of gooey cheese, each pizza is a genuine pleasure for food enthusiasts.
    <br />
    <br />
    ✅ We take pride in our innovative kitchen, constantly experimenting with new flavor combinations. In addition to classic options, we offer special pizzas for vegetarians, seafood lovers, and those who crave bold and spicy sauces.
    <br />
    <br />
    ✅ Our atmosphere is warm and friendly, ensuring that every visit is a delightful experience. Whether you choose takeout or dine in, we are ready to satisfy your appetite and create an evening filled with tasty memories. Welcome to Pizza Shop, where every portion is an exceptional culinary journey!
  </p>
</body>
</html>