<html>
    <head>
        <title>Pizza Shop - Cart</title>
    </head>
    <body>

        <h2>Список продуктов</h2>

        <div id="productList"></div>

          <!-- Ваши скрипты перед закрывающим тегом </body> -->
        <script>
            // Вызываем функцию для отображения списка продуктов
            cart_display_orders(cart_get_orders());
        </script>

    </body>
</html>

