<html>
    <head>
        <title>Pizza Shop - Cart</title>
    </head>
    <body>
    <%= @items.inspect %>


            <!-- Ваши скрипты перед закрывающим тегом </body> -->


        </script>
    </body>
</html>

