<html>
<head>
  <title>Contact Us - Pizza Shop</title>
  <style>
      body {
          font-size: 16px; /* базовый размер шрифта для всего документа */
      }

      p {
          font-size: 20px; /* размер шрифта для элементов <p> */
      }
  </style>
</head>
<body>
<h1>Contact us:</h1>

<p>
  📍 Location:
  Indulge in the ultimate pizza experience at our Pizza Shop located at [Insert Address]. Our prime spot is easily accessible, making it a convenient destination for pizza enthusiasts and food lovers alike.
</p>
<p>
  📞 Phone:
  Have a question or ready to place an order? Our friendly team is just a phone call away! Reach us at [Insert Phone Number] for prompt and helpful assistance.
</p>
<p>
  📧 Email:
  For inquiries, feedback, or special requests, feel free to drop us an email at [Insert Email Address]. We value your thoughts and are committed to providing excellent customer service.
</p>
<p>
  🕒 Hours of Operation:
  Join us for a slice of happiness during our operating hours:
  [Insert Opening Hours]
</p>
<p>
  💬 Social Media:
  Stay connected and follow us on social media for the latest updates, promotions, and behind-the-scenes peeks into our kitchen. Find us on [Insert Social Media Handles].
</p>
<p>
  At Pizza Shop, we are dedicated to making your pizza experience exceptional. Reach out to us through your preferred channel, and let's share the joy of great food together!
</p>
</body>
</html>
